.centerContainer {
  background-color: antiquewhite;
  height: 74px;
  width: 100%;
  border-bottom: #e7eaef solid 1px;
  .MainContainer {
    width: 1440px;
    margin: 0 auto;
    .flexContainer {
      display: flex;
      justify-content: space-between;
      color: #484b52;
      font-size: 20px;
      font-weight: 900;

      .TitleHome {
        padding-top: 25px;
      }
      .TitleWork {
        padding-top: 25px;
      }
      .TitleContact {
        padding-top: 25px;
      }
      .TitleAbout {
        padding-top: 25px;
      }
    }
  }
}
