.MainContainer {
    width: 100%;
    background-color: black;
    height: 100vh;
    .centerContainer {
        width: 1440px;
        margin: 0 auto;
        .vidContainer {
            padding-top: 100px;
            padding-left: 180px;
            margin: 0 auto;
            text-align: center;
            .absoluteImage {
                position: absolute;
                margin-left: 530px;
                margin-top: -300px;
                border-radius: 10px;
            }
             .intoWebsite {
             padding-top: 30px;
             padding-right: 150px;
             font-size: 30px;
            text-align: center;
             color: white;
            }
        }
        
    } 
}
