.MainContainer {
  width: 100%;
  background: url('/images/backg1.jpg');
  height: 100%;
  .flexContainer {
    width: 1380px;
    margin: 0 auto;
    background-color: black;
    height: 999px;
  }
}
